{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr> 
            <tr>
                <th>PseudoSlug</th>
                <td>{{ user.pseudoSlug }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ user.age ? user.age|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ProfilePicture</th>
                <td>{{ user.profilePicture }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Biography</th>
                <td>{{ user.biography }}</td>
            </tr>
            <tr>
                <th>NativeCountry</th>
                <td>{{ user.nativeCountry }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_back_user_index') }}">back to list</a>

    <a class="btn btn-success" href="{{ path('app_back_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('back/user/_delete_form.html.twig') }}
{% endblock %}
